*{
    margin:0;
    padding:0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    color:bisque
}
header {
    text-align: center;
}
.navbar {
    background-color: blanchedalmond;
    padding:15px 0;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-links{
    list-style: none;
    display:flex;
    gap:20px;
}
.nav-links li {
    display:inline-block;
    position:relative;
}
.nav-links li a {
    color: aquamarine;
    text-decoration: none;
    padding: 10px 15px;
}
.nav-links li ::after{
    content: "";
    position: absolute;
    left: 50%;
    width: 0;height:2px;
    background-color: brown;
    transition:width 0.4s ease,left 0.4s ease;
    
}
/* Hove effect */
.nav-links li a:hover::after {
    width: 100%;
    left: 0;
}